version: "3.7"
services:
  websocket-server:
    image: 0307kwon/websocket-server:latest
    container_name: websocket-server
    # restart: always
    depends_on:
      - reverse-proxy
  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./packages/server/proxy/nginx.conf:/etc/nginx/nginx.conf
